{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto pt-4 pl-6 pr-6 pb-6 bg-gray-900 text-center">
    <h3 class="text-2xl mx-auto mb-2 font-bold text-white">Add a New Plan</h3>
    <form method="post" enctype="multipart/form-data" class="md:w-1/2 mx-auto">
        {% csrf_token %}
        
        <div class="grid grid-cols-1 gap-4 mb-4">
            <div>
                <label for="{{ form.name.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">{{ form.name.label }}</label>
                <input
                autofocus
                    type="text"
                    name="{{ form.name.name }}"
                    id="{{ form.name.id_for_label }}"
                    value="{% if form.name.value != None %}{{ form.name.value }}{% endif %}"
                    class="w-full px-3 py-2 text-sm text-white bg-gray-700
                    {% if form.name.errors %}
                    border-red-500
                    {% else %}
                    border-gray-600
                    {% endif %} rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:ring-offset-gray-900 border-gray-600 placeholder-gray-400"
                >
                {% if form.name.errors %}
                <div class="mt-2 text-sm text-left text-red-500">{{ form.name.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.plan_type.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">{{ form.plan_type.label }}</label>
                <select name="{{ form.plan_type.name }}" id="{{ form.plan_type.id_for_label }}"
                        class="w-full px-3 py-2 text-sm text-white bg-gray-700
                        {% if form.plan_type.errors %}
                        border-red-500
                        {% else %}
                        border-gray-600
                        {% endif %} rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:ring-offset-gray-900 border-gray-600 placeholder-gray-400">
                    {% for choice in form.plan_type.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.plan_type.value %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
                {% if form.plan_type.errors %}
                    <div class="mt-2 text-sm text-left text-red-500">{{ form.plan_type.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.activities.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">{{ form.activities.label }}</label>
                {% for activity in form.activities.field.queryset %}
                    <div class="flex items-center mb-2">
                        <input
                            type="checkbox"
                            name="activities"
                            value="{{ activity.id }}" 
                            id="id_activities_{{ forloop.counter0 }}"
                            class="appearance-none w-4 h-4 text-blue-600 bg-gray-700 border-gray-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-2  mr-2"
                            {% if activity.id in form.activities.value %}
                                checked
                            {% endif %}
                        >
                        <label for="id_activities_{{ forloop.counter0 }}" class="text-sm font-medium text-gray-300">{{ activity.name }}</label>
                    </div>  
                {% endfor %}
                <div class="mt-2 text-sm text-red-500">
                    {% if form.activities.errors %}
                        {{ form.activities.errors }}
                    {% endif %}
                </div>
            </div>
            
            
            
        </div>

        <div id="action_buttons" class="text-center mx-auto mt-8 flex justify-center space-x-4">
            <a href="{% url 'plan_list' %}" class="flex-1 px-4 py-2 text-red-500 hover:text-red-700 text-sm font-medium border border-red-500 rounded-lg text-center sm:w-auto">Cancel</a>
            <button type="submit" class="flex-1 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm sm:w-auto">Save</button>
        </div>
    </form>
</div>
{% endblock %}
