{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto pt-4 pl-6 pr-6 pb-6 bg-gray-900 text-center">
    <h3 class="text-2xl mx-auto mb-2 font-bold text-white">Participant Registration</h3>
    <p class="text-md font-normal mx-auto mt-4 mb-1 text-white">{{ session.activity.name }}</p>
    <p class="text-md font-thin mx-auto mb-1  text-white">{{ session.date|date:"D d M y" }} </p>
    <p class="text-md font-thin mx-auto mb-4 text-white">{{ session.from_time|time:"H:i" }} - {{ session.to_time|time:"H:i" }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="grid mx-auto grid-cols-1 gap-4 mb-4 md:w-1/2">
            <div>
                <label for="{{ form.email.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">Email</label>
                <input
                autofocus
                    type="email"
                    name="{{ form.email.name }}"
                    maxlength="255"
                    id="{{ form.user.auto_id }}"
                    value="{% if form.email.value != None %}{{ form.email.value }}{% endif %}"
                    class="w-full px-3 py-2 text-sm text-white bg-gray-700
                    {% if form.email.errors %}
                    border-red-500
                    {% else %}
                    border-gray-600
                    {% endif %} rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:ring-offset-gray-900 border-gray-600 placeholder-gray-400"
                >
                {% if form.email.errors %}
                <div class="mt-2 text-sm text-left text-red-500">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.plan_pricing.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">{{ form.plan_pricing.label }}</label>
                <select name="{{ form.plan_pricing.name }}" id="{{ form.plan_pricing.id_for_label }}"
                    class="w-full px-3 py-2 text-sm text-white bg-gray-700
                    {% if form.plan_pricing.errors %}
                    border-red-500
                    {% else %}
                    border-gray-600
                    {% endif %} rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:ring-offset-gray-900 border-gray-600 placeholder-gray-400">
                    <option disabled selected class="text-gray-900">Select Plan Pricing</option>
                    {% for choice in form.plan_pricing.field.queryset %}
                        
                        <option value="{{ choice.id }}" {% if choice.id == form.cleaned_data.plan_pricing.id %}selected{% endif %}>
                            {{ choice.plan.plan_type|capfirst }} --> {{ choice.plan.name }} - {{ choice.name }} | {{ choice.price_unit }} {{ choice.price_quantity }}
                        </option>
                    {% endfor %}
                </select>
                {% if form.plan_pricing.errors %}
                <div class="mt-2 text-sm text-left text-red-500">{{ form.plan_pricing.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.payment_method.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">{{ form.payment_method.label }}</label>
                <select name="{{ form.payment_method.name }}" id="{{ form.payment_method.id_for_label }}"
                    class="w-full px-3 py-2 text-sm text-white bg-gray-700
                    {% if form.payment_method.errors %}
                    border-red-500
                    {% else %}
                    border-gray-600
                    {% endif %} rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:ring-offset-gray-900 border-gray-600 placeholder-gray-400">
                    <option disabled selected class="text-gray-900">Select Payment Method</option>
                    {% for choice in form.payment_method.field.choices %}
                    {{ choice.1 }} {{ choice.id }}{{form.cleaned_data.payment_method}}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.cleaned_data.payment_method %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
                {% if form.payment_method.errors %}
                <div class="mt-2 text-sm text-left text-red-500">{{ form.payment_method.errors }}</div>
                {% endif %}
            </div>

            <input type="hidden" name="referring_url" value="{{ referring_url }}">
        </div>

        

        

        <div id="action_buttons" class="text-center mx-auto mt-8 md:w-1/2 flex justify-center space-x-4">
            <a href="{{referring_url}}"  class="flex-1 px-4 py-2 text-red-500 hover:text-red-700 text-sm font-medium border border-red-500 rounded-lg text-center sm:w-auto">Cancel</a>
            <button type="submit" class="flex-1 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm sm:w-auto">Save</button>
        </div>
        
    </form>
</div>

{% endblock %}


