{% extends 'base.html' %}

{% block content %}
<div class="md:mx-24 md:pt-2 pt-2 mx-2">
    
    <div class="flex mt-2 mb-0">
        <a href="#" onclick="goBackOrRedirect();" class="mr-2 pt-1 text-blue-500 hover:underline">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
        </a>
        <h3 class="text-2xl font-bold text-white overflow-hidden whitespace-nowrap max-w-[30ch] overflow-ellipsis"> {{ space.name }} Space Calendar</h3>
    </div>
    <h3 class="text-md md:mb-0 mb-4 font-thin text-white overflow-hidden whitespace-nowrap max-w-[30ch] overflow-ellipsis ml-10">
        {{ space.site.name }}
    </h3>
    
    <div class="flex justify-center mb-4 mx-auto">
        <!-- Previous Week Button -->
    <a href="{% url 'space_calendar' space.id %}?week={{ previous_week.1 }}&year={{ previous_week.0 }}" class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-3.5 h-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
        </svg>
    </a>
    
    <div class="mx-4">
        <h3 class="text-2xl font-bold text-white overflow-hidden whitespace-nowrap max-w-[20ch] overflow-ellipsis">Week {{ week }} - {{ year }}</h3>
    </div>
    
    <!-- Next Week Button -->
    <a href="{% url 'space_calendar' space.id %}?week={{ next_week.1 }}&year={{ next_week.0 }}" class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-3.5 h-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-7 gap-4 mt-6 py-1 px-1">
        {% for day in days_of_week %}
        
            <div class="border round rounded-lg bg-gray-800 p-1  text-gray-200 lg:col-span-1">
                <div class="flex items-center">
                    <!-- Text content -->
                    <div>
                      <h2 class="text-left pl-1 font-semibold">{{ day|date:"l" }}</h2>
                      <p class="text-left pl-1 font-semibold mb-1">{{ day|date:"F d" }}</p>
                    </div>
                  
                    <!-- Plus icon in green with a clickable link on the right -->
                    {% for group in user.groups.all %}
                        {% if group.name == 'InstitutionOwner' or group.name == 'InstitutionStaff' %}
                            {% if day >= today %}
                                <a href="{% url 'calendar_create_session' space.id day|date:'Y-m-d' %}" class="text-green-500 ml-auto mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                  </div>
                  
                <div class="border-t border-gray-500 mt-1 mb-2"></div>
                <!-- Display sessions for the current day -->
                {% for session in sessions %}
                            {% if session.date == day %}
                            <!-- <div class="border-t border-gray-500 mt-1 mb-2"></div> -->
                                <div class="flex text-white font-thin ml-2 justify-center md:justify-start">
                                    <p>{{ session.from_time|time:"H:i" }}</p>
                                    <p class="ml-1 md:ml-1"> - </p>
                                    <p class="ml-1 md:ml-1">{{ session.to_time|time:"H:i" }}</p>
                                    {% for group in user.groups.all %}
                                        {% if group.name == 'InstitutionOwner' or group.name == 'InstitutionStaff' %}
                                            <a href="{% url 'session_participants' session.id %}" class="{% if session.all_participants_present == True %} text-green-500 {% elif session.all_participants_present == False  %} text-gray-300 {% else %} text-black {% endif%} ml-auto mr-2 pt-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                                </svg>   
                                            </a>
                                            {% if session.date >= today and session.availability > 0 %}
                                                <a href="{% url 'participant_registration' session.id %}" class=" text-yellow-600 hover:underline ml-0 mr-1 pt-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            
                                        {% elif group.name == 'InstitutionInstructor' and session.activity.instructor.user.email == request.user.email %}
                                            <a href="{% url 'session_participants' session.id %}" class="{% if session.all_participants_present == True %} text-green-500 {% elif session.all_participants_present == False  %} text-gray-300 {% else %} text-black {% endif%} ml-auto mr-1 pt-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                                </svg>   
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="ml-3">
                                    {% for group in user.groups.all %}
                                        {% if group.name == 'InstitutionOwner' or group.name == 'InstitutionStaff' %}
                                        <a href="{% url 'activity_detail' session.activity.id %}" class="text-gray-100 text-sm hover:underline">{{ session.activity.name }}</a>
                                        {% elif group.name == 'InstitutionInstructor' and session.activity.instructor.user.email == request.user.email %}
                                        <a href="{% url 'instructor_activity_detail' session.activity.id %}" class="text-gray-100 text-sm hover:underline">{{ session.activity.name }}</a>
                                        {% else %}
                                        <a class="text-gray-100 text-sm">{{ session.activity.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div>
                                    <p class="mb-0 ml-3 text-xs text-gray-400">{{ session.activity.instructor.user.get_full_name }}</p>
                                    <p class="mb-2 ml-3 text-xs text-gray-500">{{ session.activity.type }}</p>
                                </div>
                            {% endif %}
                        
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<script>
    // Store the referrer URL in session storage when the page loads
    document.addEventListener("DOMContentLoaded", function() {
        var referrer = document.referrer;
        if (referrer.includes('institution_detail/') || referrer.includes('activity_detail/') || referrer.includes('session_list/') || referrer.includes('activity_list/')) {
            sessionStorage.setItem('lastVisitedUrl', referrer);
        }
    });

    function goBackOrRedirect() {
        // Get the stored referrer information from session storage
        var storedReferrer = sessionStorage.getItem('lastVisitedUrl');

        if (storedReferrer) {
            // Redirect to the stored referrer
            window.location.href = storedReferrer;
        } else {
            // If there's no stored referrer, go back in history
            window.history.back();
        }
    }
</script>


{% endblock %}
