{% extends 'base.html' %}

{% block content %}
<div class="md:mx-24 md:pt-2 pt-2 mx-2">

    <div class="flex justify-between items-center mt-2 mb-4">
        <h3 class="text-2xl font-bold text-white overflow-hidden whitespace-nowrap max-w-[20ch] overflow-ellipsis">Instructors</h3>
        <a href="{% url 'create_instructor' %}" class="flex items-center focus:outline-none text-white focus:ring-4 font-medium rounded-lg text-sm px-2 py-2 bg-green-600 hover:bg-green-700 focus:ring-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <span class="hidden lg:inline mx-2">Instructor</span>
        </a>
    </div>

    {% if instructors %}
    <div class="relative overflow-x-auto shadow-md rounded-lg">
        <table class="w-full text-sm text-left text-gray-400">
            <thead class="text-xs uppercase bg-gray-600 text-gray-400">
                <tr>
                    <th scope="col" class="text-white px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="text-white px-6 py-3 hidden md:table-cell">
                        Email
                    </th>
                    <th scope="col" class="text-white text-right px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr class=" border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
                        <td class="px-6 py-4 overflow-hidden whitespace-nowrap">
                            {{ instructor.user.get_full_name }}
                        </td>
                        <td class="px-6 py-4 overflow-hidden whitespace-nowrap hidden md:table-cell">
                            {{ instructor.user.email }}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <div class="flex justify-end items-center">
                                <a href="{% url 'delete_instructor' instructor.id %}" class="text-red-500 ml-4 hover:underline">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
        <h5 class="text-xl mt-2 text-white">No instructors found for this institution.</h5>
    {% endif %}
</div>
{% endblock %}
