{% extends 'base.html' %}
{% block content %}
<div class="fixed z-0 inset-0 flex items-center justify-center">
  <div class="w-full max-w-md p-6 bg-gray-800 rounded-lg shadow-lg mx-4">
    <h2 class="text-2xl font-semibold mb-4 text-white">Email Sent <span class="text-green-500">Successfuly</span></h2>
    <hr class="border-t border-gray-600 mb-4">
    <div class="text-white">
       An email with instructions to reset your password has been sent to the email you provided.
    </div>
    <hr class="border-t border-gray-600 mt-4">
  </div>
</div>
{% endblock %}
