{% extends 'base.html' %}

{% block content %}
<div class="fixed z-0 inset-0 flex items-center justify-center bg-gray-900">
  <div class="w-full max-w-md p-6 bg-gray-800 rounded-lg shadow-lg mx-4">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-2xl font-semibold text-white">Password Reset</h2>
      <a href="{% url 'login' %}" class="text-white hover:underline flex items-center">
        <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        Go Back
      </a>
    </div>
    <hr class="border-t border-gray-600 mb-4">
    <div class="text-white">
      Enter your email, and we'll send you instructions to reset your password.
    </div>
    <form method="POST" class="mt-4">
      {% csrf_token %}
      
      <!-- Email Field -->
      <p class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="block text-white">Email</label>
        <input autofocus type="email" name="email" autocomplete="email" maxlength="254" required="" id="{{ form.email.id_for_label }}" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </p>
      
      <!-- Additional Fields Can Be Added Here -->
      
      <button type="submit" class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none text-white focus:ring-blue-300 font-medium rounded-lg w-full text-lg px-5 py-2.5 text-center mt-4">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}
