{% extends 'base.html' %}
{% block content %}
<div class="fixed z-0 inset-0 flex items-center justify-center">
  <div class="w-full max-w-md p-6 bg-gray-800 rounded-lg shadow-lg mx-4">
    <h2 class="text-2xl font-semibold mb-4 text-white">Password Reset Confirmation</h2>
    <hr class="border-t border-gray-600 mb-4">
    
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="text-red-500">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {% if form.field_name.errors %}
      {% for error in form.field_name.errors %}
      <div class="text-red-500">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {% for error in form.new_password1.errors %}
    <div class="text-red-500">
        {{ error }}
      </div>
{% endfor %}
{% for error in form.new_password2.errors %}
<div class="text-red-500">
    {{ error }}
  </div>
{% endfor %}

    
    <form method="POST" class="mt-4">
      {% csrf_token %}
      
      <!-- New Password Field -->
      <p class="mb-4">
        <label for="id_new_password1" class="block text-white">New password</label>
        <input autofocus type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        
      </p>
      
      <!-- New Password Confirmation Field -->
      <p class="mb-4">
        <label for="id_new_password2" class="block text-white">Confirm Password</label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </p>
      <ul class="list-disc text-sm text-white list-inside {% if form.new_password1.errors %}text-red-500{% endif %} pl-6 pb-2">
        <li>Can’t be too similar to your other personal information.</li>
        <li>Must contain at least 8 characters.</li>
        <li>Can’t be a commonly used password.</li>
        <li>Can’t be entirely numeric.</li>
      </ul>

      <!-- Submit Button -->
      <button type="submit" class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none text-white focus:ring-blue-300 font-medium rounded-lg w-full text-lg px-5 py-2.5 text-center mt-4">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}
