{% extends 'base.html' %}
{% block content %}
<div class="fixed z-0 inset-0 flex items-center justify-center bg-gray-900">
  <div class="w-full max-w-md p-6 bg-gray-800 rounded-lg shadow-lg mx-4">
    <h2 class="text-2xl font-semibold mb-4 text-white">Activate your Account</h2>
    <hr class="border-t border-gray-600 mb-4">
    <div class="text-white">
       An email with instructions to activate your account has been sent to the email you provided.
    </div>
    <hr class="border-t border-gray-600 mt-4">
    
    <div class="text-white mt-4">
        If you have already activated your account, you can
        <a href="{% url 'login' %}" class="text-blue-400 underline">login here</a>.
    </div>
  </div>
</div>
{% endblock %}
