{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto pt-4 pl-6 pr-6 pb-6 bg-gray-900 text-center">
    <h3 class="text-2xl mx-auto mb-2 font-bold text-white">Session Registration</h3>
    <p class="text-md font-normal mx-auto mt-4 mb-1 text-white">{{ session.activity.name }}</p>
    <p class="text-md font-thin mx-auto mb-1  text-white">{{ session.date|date:"D d M y" }} </p>
    <p class="text-md font-thin mx-auto mb-4 text-white">{{ session.from_time|time:"H:i" }} - {{ session.to_time|time:"H:i" }}</p>
    
    <form method="post" enctype="multipart/form-data" class="md:w-1/2 mx-auto">
        <ul class="grid w-full gap-6">
            <label for="{{ form.plan_pricing.id_for_label }}" class="text-left block text-sm font-medium text-gray-900 text-white">
                Select {{ form.plan_pricing.label }}
            </label>
            {% for key, value in form.plan_pricing.field.choices %}
            <li>
                <input type="radio" id="{{ key }}" name="{{ form.plan_pricing.name }}" value="{{ key }}" class="hidden peer" required>
                <label for="{{ key }}" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                    <div class="block">
                        <div class="w-full text-lg font-semibold">0-50 MB</div>
                        <div class="w-full">{{ value }}</div>
                    </div>
                    <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </label>
            </li>
            {% endfor %}
        </ul>
    </form>
    
    <form method="post" enctype="multipart/form-data" class="md:w-1/2 mx-auto">
        {% csrf_token %}

        <div class="grid grid-cols-1 gap-4 mb-4">
            <div>
                <label for="{{ form.plan_pricing.id_for_label }}" class="text-left block mb-2 text-sm font-medium text-gray-900 text-white">
                    {{ form.plan_pricing.label }}
                </label>
                <select name="{{ form.plan_pricing.name }}" id="{{ form.plan_pricing.id_for_label }}"
                        class="w-full px-3 py-2 text-sm text-white bg-gray-700
                               {% if form.plan_pricing.errors %}
                                   border-red-500
                               {% else %}
                                   border-gray-600
                               {% endif %}
                               rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:ring-offset-gray-900 border-gray-600 placeholder-gray-400">
                    <option value="" {% if not form.plan_pricing.value %}selected{% endif %} disable>Select Plan Pricing</option>
                    {% for key, value in form.plan_pricing.field.choices %}
                        <option value="{{ key }}" {% if key == form.plan_pricing.value %}selected{% endif %}>
                            {{ value }} 
                        </option>
                    {% endfor %}
                </select>
                {% if form.plan_pricing.errors %}
                    <div class="mt-2 text-sm text-left text-red-500">{{ form.plan_pricing.errors }}</div>
                {% endif %}
            </div>
            
        </div>

        <div id="action_buttons" class="text-center mx-auto mt-8 flex justify-center space-x-4">
            <a onclick="goBack()" class="flex-1 px-4 py-2 text-red-500 hover:text-red-700 text-sm font-medium border border-red-500 rounded-lg text-center sm:w-auto">Cancel</a>
            <button type="submit" class="flex-1 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm sm:w-auto">Save</button>
        </div>
        
    </form>
</div>

<script>
    function goBack() {
        // Go back to the previous page in the browser history
        window.history.back();
    }
</script>

{% endblock %}